
.content-main{
    padding-top: 125px;
}
#mid_content {
    background: linear-gradient(90deg, rgba(67,32,96,1) 0%, 
        rgba(115,54,166,1) 35%, rgba(155,74,222,1) 100%);
    border-radius: 10px;
    padding: 20px 10px;
    position: absolute;
    top: -5%;    
    box-shadow: 3px 3px rgb(139 0 255 / 32%);
}

#mid_content p, #mid_content h3, #mid_content h6, #mid_content i {
    color: white;
}

#dangkykhoanvay .modal-header {
    background: linear-gradient(90deg, rgba(67,32,96,1) 0%, 
        rgba(115,54,166,1) 35%, rgba(155,74,222,1) 100%);
    color: white;
}

#dangkykhoanvay p {
    font-size: 14px;
}

#bkimg_money .col-8::after {
    content: "";
    background-image: url('../images/bag.png');
    background-size: contain;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* #content_tick {
    content: "";
    background-image: url('../img/ticket.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;   
} */



