@media (min-width: 768px) {
    body {
        display: none;
    }
}

body {
    background: #e7e7e7;
}

header {
    background-color: white;
    height: 55px;
    border-bottom: 2px solid #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px 15px;
    border-bottom: 2px solid #f4f4f4;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

#button_back {
    position: absolute;
    top: 28%;
    left: 5%;
}

.text-purple {
    color: purple;
}

.ip_pass {
    margin-top: -7px;
    padding-right: 0px;
    border: none;
}

.form-control:focus {
    box-shadow: none;
}

.fs-20 {
    font-size: 20px;
}

#title_khoanvay p {
    font-size: 12px;
}

#foot_khoanvay {
    background: #800080;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#foot_khoanvay p {
    font-size: 12px;
}

footer {
    display: none !important;
}